<style>
    .card {
        background-color: #1A1B1F
    }

    .text-color {
        color: #eee !important
    }

    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 1.5rem + 2px);
        /* padding: .75rem 1.25rem; */
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #696973;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #d5d5dc;
        border-radius: .375rem;
        box-shadow: none;
        transition: all .3s ease
    }

    .btn-dark-newsletter {
        color: #fff;
        background-color: #1b1642;
        border-color: #1b1642
    }

    .btn-newsletter {
        display: inline-block;
        font-weight: 500;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-color: #1b1642;
        border: 1px solid transparent;
        /* padding: .75rem 1.75rem; */
        font-size: .875rem;
        line-height: 1.5;
        border-radius: .375rem;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
    }
</style>
<div style="background-color: #1A1B1F;">
    <form action="https://herokuapp.us14.list-manage.com/subscribe/post?u=12c410d5a3e9162a3f54dab17&amp;id=3da69d2e6e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="container">    
            <div class="row">
                <div class="col-xl-10 col-lg-10 mx-auto mb-5">
                    <div class="card p-4 px-5">
                        <h2 class="font-weight-bold text-white">Tetap terhubung</h2>
                        <span class="mb-4 text-color">Tenang gratis 100%</span>
                        <h6 class="text-black-50 mb-2 text-color">Langganan untuk mendapatkan pemberitahuan mengenai produk, perubahan, update terbaru Holvamp.</h6>
                        <div class="form-group bg-white border rounded px-2 py-2 mb-2">
                            <div class="row">
                                <!-- Input Email -->
                                <div class="col-lg-6 col-sm-6"> 
                                    <input type="email" name="EMAIL" class="form-control shadow-none bg-transparent border-0" placeholder="Ketik alamat email disini"> 
                                </div>
                                <!-- mailchimp requirements -->
                                <div id="mce-responses" class="clear foot">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_12c410d5a3e9162a3f54dab17_3da69d2e6e" tabindex="-1" value=""></div>
                                <!-- Submit button -->
                                <div class="col-lg-6 col-sm-6 my-auto"> 
                                    <button type="submit" name="subscribe" class="btn-newsletter btn-block btn-dark-newsletter py-2" ><i class="fa fa-paper-plane-o mx-2"></i>Langganan</button> 
                                </div>
                            </div>
                        </div> 
                        <span class="mb-4 text-color">Hanya pemberitahuan mengenai produk, perubahan, update tutorial terbaru.</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>