<%- include('html-comments-layout') %>
<!DOCTYPE html>
<html lang="id">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Holvamp | <%= title %></title>
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Bootstrap App Landing Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Themefisher">
    <meta name="generator" content="Themefisher Small Apps Template v1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/images/img/logo/holvamp-favicon.png" /> 
    <!-- PLUGINS CSS STYLE -->
    <link rel="stylesheet" href="/plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/plugins/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/plugins/slick/slick.css">
    <link rel="stylesheet" href="/plugins/slick/slick-theme.css">
    <link rel="stylesheet" href="/plugins/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/plugins/aos/aos.css">
    <!-- JQUERY CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- CUSTOM CSS -->
    <link href="/css/style.css" rel="stylesheet">
    <!-- Bootstrap5 icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!-- Sharethis.com -->
    <!-- Sharethis.com engagement tools -->
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=6231b61fd4bfaa0019427583&product=inline-share-buttons' async='async'></script>
    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
      <%- body %>
    <!-- To Top -->
    <div class="scroll-top-to">
      <i class="ti-angle-up"></i>
    </div>
    <!-- JAVASCRIPTS -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="/plugins/slick/slick.min.js"></script>
    <script src="/plugins/fancybox/jquery.fancybox.min.js"></script>
    <script src="/plugins/syotimer/jquery.syotimer.min.js"></script>
    <script src="/plugins/aos/aos.js"></script>
    <!-- google map -->
    <script src="/https://maps.googleapis.com/maps/api/js?key=AIzaSyAgeuuDfRlweIs7D6uo4wdIHVvJ0LonQ6g"></script>
    <script src="/plugins/google-map/gmap.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/jquery.js"></script>
  </body>
</html>
<!-- Setiap baris kode Holvamp ditulis dengan ❤️ oleh: akbarangkasa.com  -->