<style>
  .costum-navbar ul li {
    display: inline;
    color: #03B0D8;
  }
  .costum-navbar ul li a:hover {
    color: green !important;
  }
  .costum-navbar ul li a:active {
    color: green !important;
  }
</style>
<nav class="container costum-navbar">
  <ul>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
  </ul>
</nav>