<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">
<section class="error-page">
	<div class="center">
		<div class="block text-center">
			<h1>404</h1>
			<h3>Halaman Tidak Ditemukan :(</h3>
			<p>Halaman yang kamu cari<br>
				mungkin telah diubah atau dihapus
			</p>
			<a href="/" class="btn btn-main-md">Halaman Utama</a>
		</div>
	</div>
</section>