<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">
<!-- Navbar -->
<%- include('layouts/navbar-layout') %>
<!-- End of Navbar -->
<!--================================
=            Page Title            =
=================================-->
<section class="section page-title">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 m-auto">
				<!-- Page Title -->
				<h1>Hubungi Kami</h1>
				<!-- Page Description -->
				<p>Punya pesan, saran maupun kritik untuk <a href="/">Holvamp</a>? jangan ragu untuk sampaikan.</p>
			</div>
		</div>
	</div>
</section>

<!--====  End of Page Title  ====-->
<section class="contact-form section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="mb-5 text-center">Kirim Pesan</h2>
			</div>
			<div class="col-12">
				<form method="POST" action="contact-us">
					<div class="row">
						<!-- Name -->
						<div class="col-md-6 mb-2">
							<input class="form-control main" type="text" placeholder="Nama" name="name" required>
						</div>
						<!-- Email -->
						<div class="col-md-6 mb-2">
							<input class="form-control main" type="email" placeholder="akbarangkasa@email.com" name="email" required>
						</div>
						<!-- subject -->
						<div class="col-md-12 mb-2">
							<select name="jenis" class="form-control main" required>
								<option value="pesan">Pesan</option>
								<option value="saran">Saran</option>
								<option value="kritik">Kritik</option>
							</select>
						</div>
						<!-- Message -->
						<div class="col-md-12 mb-2">
							<textarea class="form-control main" name="message" rows="10" placeholder="Isi" name="isi" required></textarea>
						</div>
						<!-- Submit Button -->
						<div class="col-12 text-right">
							<button class="btn btn-main-md" type="submit">Kirim</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- JOIN-US -->
<%- include('layouts/Join-us-layout') %>
<!--=====================================
=            Footer			            =
======================================-->
<%- include('layouts/footer-layout') %>
<!--====  End of Footer  ====-->