<body class="body-wrapper" data-spy="scroll" data-target=".privacy-nav">
<!-- Navbar -->
<%- include('layouts/navbar-layout') %>
<!-- End of Navbar -->
<!--====================================
=            Hero Section            =
=====================================-->
<section class="section gradient-banner">
	<div class="shapes-container">
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="1000" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="1000" data-aos-delay="100"></div>
		<div class="shape" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="300"></div>
		<div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-right" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="zoom-out" data-aos-duration="2000" data-aos-delay="500"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="200"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0"></div>
		<div class="shape" data-aos="fade-down" data-aos-duration="500" data-aos-delay="0"></div>
		<div class="shape" data-aos="fade-up-right" data-aos-duration="500" data-aos-delay="100"></div>
		<div class="shape" data-aos="fade-down-left" data-aos-duration="500" data-aos-delay="0"></div>
	</div>
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6 order-2 order-md-1 text-center text-md-left">
				<h1 class="text-white font-weight-bold mb-4">Selamat Datang 👋</h1>
				<p class="text-white mb-5">Holvamp menyediakan konten edukasi gratis khususnya pada bidang Web Development.</p>
				</p>
				<!-- <q><i>Everybody should learn to program a computer, because it teaches you how to think</i></q> -->
			</div>
			<div class="col-md-6 text-center order-1 order-md-2">
				<img class="img-fluid" src="/images/img/logo/holvamp-logo.png" alt="Holvamp-logo">
			</div>
		</div>
	</div>
</section>
<!--====  End of Hero Section  ====-->
<section class="section pt-0 position-relative pull-top">
	<div class="container">
		<div class="rounded shadow p-5 bg-white">
			<div class="row">
				<div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
					<i class="ti-thought text-primary h1"></i>
					<h3 class="mt-4 text-capitalize h5 ">Hoist</h3>
					<p class="resular text-muted"><q><i>We raise by lifting others</i></q></p>
					<p class="regular text-muted">Bagaikan bendara yang dikerek naik selalu berusaha bersama untuk terus naik menjadi yang terbaik.</p>
				</div>
				<div class="col-lg-4 col-md-6 mt-5 mt-md-0 text-center">
					<i class="ti-check text-primary h1"></i>
					<h3 class="mt-4 text-capitalize h5 ">Solve</h3>
					<p><q><i>Focus on the solution not the problem</i></q></p>
					<p class="regular text-muted">Memecahkan masalah dengan logika dan kreatifitas.</p>
					
				</div>
				<div class="col-lg-4 col-md-12 mt-5 mt-lg-0 text-center">
					<i class="ti-heart text-primary h1"></i>
					<h3 class="mt-4 text-capitalize h5 ">Mostly Perseverance</h3>
					<p class="resular text-muted"><q><i>It's always to soon to quit</i></q></p>
					<p class="regular text-muted">Dengan ketekunan dan hati yang senang masalah apapun bisa terselesaikan.</p>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!--==================================
=            Feature Grid            =
===================================-->
<section class="feature section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 ml-auto justify-content-center">
				<!-- Feature Mockup -->
				<div class="image-content" data-aos="fade-right">
					<img class="img-fluid" src="images/feature/section-1.png" alt="holvamp-section-1">
				</div>
			</div>
			<div class="col-lg-6 mr-auto align-self-center">
				<div class="feature-content">
					<!-- Feature Title -->
					<h2>Upgrade skills dan pengetahuanmu bersama <a
							href="#">Holvamp</a></h2>
					<!-- Feature Description -->
					<p class="desc">Pentingnya selalu upgrade ilmu dan skills yang baik terlebih pada era society 5.0 ini. <a href="#">Holvamp</a> berusaha memberikan kontribusi yang terbaik dengan menyediakan edukasi gratis khususnya pada bidang Web Development.</p>
				</div>
				<!-- Testimonial Quote -->
				<div class="testimonial">
					<p>
						"The biggest risk is not taking any risk... In a world that is changing really quickly, the only strategy that is guaranteed to fail is not taking risks."
					</p>
					<ul class="list-inline meta">
						<li class="list-inline-item">
							<img src="images/testimonial/mark-zuckerberg.jpg" alt="">
						</li>
						<li class="list-inline-item">Mark Zuckerberg , Founder of Facebook</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="feature section pt-0">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 ml-auto align-self-center">
				<div class="feature-content">
					<!-- Feature Title -->
					<h2>Belajar berjalan sebelum bisa berlari</h2>
					<!-- Feature Description -->
					<p><a href="#">Holvamp</a> menyediakan konten edukasi gratis untuk kalangan apapun dimulai dari paling dasar.</p>
				</div>
				<!-- Testimonial Quote -->
				<div class="testimonial">
					<p>
						"The danger is entirely different than the fear"
					</p>
					<ul class="list-inline meta">
						<li class="list-inline-item">
							<img src="/images/testimonial/chris-hadfield.jpg" alt="chris-hadfield">
						</li>
						<li class="list-inline-item">Chris Hadfield , Canadian Astronaut</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6 mr-auto justify-content-center">
				<!-- Feature mockup -->
				<div class="image-content" data-aos="fade-left">
					<img class="img-fluid" src="images/feature/section-2.png" alt="holvamp-section-2">
				</div>
			</div>
		</div>
	</div>
</section>
<!--====  End of Feature Grid  ====-->
<!-- JOIN-US -->
<%- include('layouts/Join-us-layout') %>
<!-- FOOTER -->
<%- include('layouts/footer-layout') %>