<style>
  .costum-navbar ul li{
    display: inline;
    cursor:pointer;
  }
  .costum-navbar ul li a {
    color: #03B0D8;
    font-size: large;
  }
  .costum-navbar ul li a:hover {
    color: green !important;
  }
  .costum-navbar ul li a:active {
    color: green !important;
  }
</style>
<nav class="container d-flex justify-content-end costum-navbar my-auto">
  <ul>
    <li><a href="#"> 1 </a>/</li>
    <li><a href="#"> 2 </a>/</li>
    <li><a href="#"> 3 </a>/</li>
  </ul>
</nav>